In [0]:
# MultiVariate Linear Regression for Build Week 30Jul2019
url = 'https://raw.githubusercontent.com/master-your-money/Data-Science-Nayan/master/bls_bw_mym_tts.csv'

In [0]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_absolute_error, mean_squared_error, r2_score
from sklearn.model_selection import train_test_split
import statsmodels.api as sm

In [4]:
df = pd.read_csv(url) 
'''Reference URL From Above'''

df.head()

   Unnamed: 0  Unnamed: 0.1  Unnamed: 0.1.1  ...  50%_delta  30%_delta  20%_delta
0           0             0               0  ...  -0.094231  -0.184102   0.276480
1           1             1               1  ...  -0.132551  -0.207791   0.311014
2           2             2               2  ...  -1.203301  -1.125590   2.416376
3           3             3               3  ...  -0.219987  -0.131894   0.318253
4           4             4               4  ...   0.046374  -0.219422   0.173048

[5 rows x 20 columns]

In [5]:
df['Necessities'] = (df['Total Housing'] + df['Total Food'] + df['Total Transportation cost'])

df['Necessities'].head()

0     9200.00
1     5826.00
2    33691.75
3     9584.00
4     7423.50
Name: Necessities, dtype: float64

In [6]:
df['50%'] = (df['Necessities']/3) / ((df['Income After Taxes'])/12)

df['50%'].head()

0    0.405769
1    0.367449
2   -0.703301
3    0.280013
4    0.546374
Name: 50%, dtype: float64

In [7]:
df['30%'] = ((df['Luxury expenses'] + df['Entertainment']) / 3) / ((df['Income After Taxes'])/12)

df['30%'].head()

0    0.117750
1    0.121537
2   -0.913075
3    0.201734
4    0.080578
Name: 30%, dtype: float64

In [8]:
df['20%'] = ((df['possible savings'])/3) / (df['Income After Taxes'] / 12)

df['20%'].head()

0    0.158827
1    0.170338
2    0.872125
3    0.172751
4    0.124349
Name: 20%, dtype: float64

In [9]:
df.head()

   Unnamed: 0  Unnamed: 0.1  Unnamed: 0.1.1  ...  50%_delta  30%_delta  20%_delta
0           0             0               0  ...  -0.094231  -0.184102   0.276480
1           1             1               1  ...  -0.132551  -0.207791   0.311014
2           2             2               2  ...  -1.203301  -1.125590   2.416376
3           3             3               3  ...  -0.219987  -0.131894   0.318253
4           4             4               4  ...   0.046374  -0.219422   0.173048

[5 rows x 20 columns]

In [10]:
df['50%'].describe()

count    6004.000000
mean             inf
std              NaN
min        -5.101450
25%         0.225918
50%         0.396943
75%         0.656488
max              inf
Name: 50%, dtype: float64

In [0]:
df = df.loc[(df!=0).all(1)]

In [12]:
df['20%'].describe()

count    4788.000000
mean       -1.782543
std       121.485582
min     -8405.666667
25%         0.026927
50%         0.138304
75%         0.219365
max         4.394068
Name: 20%, dtype: float64

In [13]:
df['30%'].describe()

count    4788.000000
mean        2.331211
std       138.744073
min       -10.285480
25%         0.093221
50%         0.163901
75%         0.281580
max      9600.000000
Name: 30%, dtype: float64

##Model##

In [0]:
features = ['Income After Taxes','Total expenses','Necessities']

target = '50%'

X = df[features]
y = df[target]


X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.30, random_state = 42)

In [15]:
model = LinearRegression()
model.fit(X_train, y_train)
y_pred = np.exp(model.predict(X_test)) # Apply exponential function (inverse of natural log) to the predictions
print('R^2', model.score(X_test, y_pred))

R^2 0.005535683014293191

In [16]:
''' Needs parameter tuning and some more input to train appropriatley but is a good start to the model'''

' Needs parameter tuning and some more input to train appropriatley but is a good start to the model'

In [18]:
coeff_df = pd.Series(model.coef_, features)
print('The coefficients are:\n', coeff_df)
print('The intercept is:\n', model.intercept_)

The coefficients are:
 Income After Taxes   -0.000012
Total expenses       -0.000003
Necessities           0.000072
dtype: float64
The intercept is:
 1.1225886458542695